.card:hover {
  transform: scale(1.02);
  transition: 0.3s;
}

.custom {
  background-color: #2b5b9b;
}

.uniform-img {
  height: 300px;
  width: 100%;
  max-width: 600px; /* Set a max width to prevent excessive stretching */
  object-fit: cover;
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: #FFDE59;
}


